.selectContainer {
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}


.select {
    background-color: var(--bg-color);
    min-width: 20rem;
    min-height: 2rem;
}

.option {
    padding: 8px 16px;
    cursor: pointer;
    background-color: var(--white-color);
}
