.detailsCard {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	border: 0;
	padding: 0;
	min-width: 28rem;
	background-color: var(--white-color);
	border-radius: 8px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.detailsContainer {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	justify-content: flex-start;
}

.detailsCardTitle {
	font: var(--font-heading1);
	color: var(--text-color);
	margin: 1rem;
}

.detailsCardImg {
	width: 100%;
	min-width: 20rem;
	height: 20rem;
	object-fit: fill;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	padding: 0rem 1rem;
	color: var(--text-color);
}

.detailsCategory {
	margin: 0;
	font: var(--font-heading4);
	text-transform: uppercase;
	color: var(--text-color);
	opacity: 0.5;
}

.detailsTitle {
	font: var(--font-heading1);
	margin: 0;
}

.detailsStars {
	color: var(--main-color);
	padding: 0;
}

.locationContainer {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 1rem 0 2rem;
}

.locationText {
	padding-left: 0.5rem;
	margin: 0;
	font: var(--font-text1);
}

.timeCheck {
	height: 4rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	/* padding-bottom: 2rem; */
	border-top: 1px var(--gray-color) solid;

	width: 100%;
	box-sizing: content-box;
}

.reservationButton {
	border-top: 1px var(--gray-color) solid;
	width: 100%;
}

.reservationButton > button {
	margin-top: 3.5rem;
	width: 97%;
}

/* ------------------------------- responsive ------------------------------- */

@media screen and (max-width: 1000px) {
	.detailsContainer {
		flex-direction: row;
	}
}

@media screen and (max-width: 720px) {
	.detailsContainer {
		flex-direction: column;
	}
}
