.footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100vw;
	background-color: var(--main-color);
	height: 3.625rem;
	position: fixed;
	bottom: 0;
	z-index: 500;
}

.footerCopyright {
	font-weight: bold;
	margin: 1.25rem 2rem;
	color: var(--bg-color);
}

/* .footerSocial {
	display: flex;
	justify-content: space-around;
	align-items: center;
	gap: 1.875rem;
	margin-right: 2.5rem;
} */

/* ------------------------------- responsive ------------------------------- */

/* @media screen and (max-width: 480px) {
	.footerSocial {
		display: none;
	}
}
 */
