.footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100vw;
	background-color: var(--main-color);
	height: 3.25rem;
	position: fixed;
	bottom: 0;
	z-index: 500;
}

.footer__copyright {
	font-weight: bold;
	padding: 1.25rem 3rem;
	color: white;
}

.footer__social {
	display: flex;
	justify-content: space-around;

	gap: 1.875rem;
	padding-right: 3rem;
}
