.formField {
	margin: 0.25rem 0px;
	display: flex;
	flex-direction: column;
	width: 100%;
	position: relative;
}

.label {
	color: var(--text-color);
	margin-bottom: 0.5rem;
}

.errorInput {
	background: #ffe1e1;
	border: 1px solid #ff0000;
}

.errorMessage {
	color: #ff0000;
	text-align: right;
	font-size: 0.75rem;
}

.textArea {
	box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.15);
	border-radius: 5px;
	color: var(--text-color);
	border: none;
	width: 100%;
	background-color: #ffffff;
	font-weight: 500;
	font-size: 1rem;
	line-height: 0.875rem;
	padding-left: 1rem;
	padding-top: 1rem;
	resize: vertical;
}
