.itemContainer {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	background-color: var(--white-color);
	padding: 1rem;
	width: 100vw;
}

.imgItem {
	border-radius: 8px;
	max-width: 100%;
	display: block;
	height: auto;
	cursor: pointer;
	height: 11.813rem;
	width: 19.625rem;
}

.itemContainer img:hover {
	filter: brightness(110%);
	-webkit-filter: brightness(110%);
	-moz-filter: brightness(110%);
}
.itemPrincipal > img {
	width: 39.875rem;
	height: 24.83rem;
	border-radius: 8px;
}

.itemGroup {
	position: relative;
	width: 50%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 1rem;
}

.seeMore {
	width: 5rem;
	position: absolute;
	right: 1rem;
	bottom: 1rem;
	color: var(--white-color);
	font: var(--font-heading3);
	text-decoration: underline;
	pointer-events: none;
	background: rgba(0, 0, 0, 0.3);
}

/* .seeMore:hover {
	color: var(--main-color);
} */

@media screen and (max-width: 769px) {
	.imgItem {
		display: none;
	}
	.itemPrincipal > img {
		width: 100vw;
		border-radius: 0;
	}
	.itemContainer {
		padding: 0;
	}
	.seeMore {
		position: relative;
		bottom: 0;
	}
}
@media screen and (max-width: 1330px) {
	.imgItem {
		display: none;
	}
	.seeMore {
		position: relative;
		bottom: 2.5rem;
		right: auto;
		padding: 0.5rem;
	}
}
