.basicInput {
	font-size: 2rem;
	box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.15);
	border-radius: 5px;
	color: var(--text-color);
	border: none;
	height: 2.5rem;
	width: 100%;
	background-color: #ffffff;
	font-weight: 500;
	font-size: 1rem;
	line-height: 0.875rem;
	padding-left: 0.5rem;
}

.inputWithIcon {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.hideIcon {
	position: absolute;
	right: 1rem;
	height: 2rem;
	cursor: pointer;
	color: #607d8b;
}
