.policyItem {
	display: flex;
	width: 100%;
	flex-direction: column;
	padding: 0 2rem 2rem;
	gap: 0.5rem;
	box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.15);
	border-radius: 5px;
}

.radioButtonContainer {
	display: flex;
	flex-direction: row;
	gap: 0.8rem;
	font-weight: 400;
	color: var(--gray-color);

}

.radioButton {
	margin-right: 0.2rem;
}


.textArea {
	resize: none;
	height: 100%;
	padding: 1rem;
	border-radius: 5px;
	box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.15);
	border: none;
}

.policyItemTitle {
	font: var(--font-heading3);
	color: var(--text-color);
}

.label {
	font: var(--font-text2);
	color: var(--gray-color);
	margin: 0.5rem 0rem;


}
