.featureTitle {
	width: 100vw;

	border-bottom: 1px solid var(--main-color);
	color: var(--text-color);

	padding: 0.5rem 2rem;
}
.productDetailsFeature {
	display: flex;

	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	width: 100vw;
}

.featureGroup {
	width: auto;
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	gap: 2rem 7rem;
	list-style: none;

	padding: 0rem 2rem;
}
.featureGroup > li {
	display: flex;
	align-items: center;
	width: 14.375rem;
	height: 4rem;
	font: var(--font-text1);
	color: var(--gray-color);
}

.featureGroup > li > img {
	display: flex;
	width: 2rem;
	height: 2rem;
	margin-right: 0.5rem;
}
