.productCard {
	display: flex;
	flex-direction: row;
	background-color: var(--white-color);
	height: 17.688rem;
	width: 48%;
	border-radius: 8px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.productCardImg {
	max-width: 20rem;
	width: 100%;
	height: auto;
	object-fit: fill;
	border-radius: 8px;
}

.productCardBody {
	max-width: 30rem;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding: 1rem;
}

.productCardBody button {
	width: 100%;
}

.productCardTitle {
	margin: 0.8rem 0;
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 23px;
	color: var(--text-color);
	height: 1.625rem;
}

.productCardText {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 16px;
	color: grey;
	margin-bottom: 0.424;
	text-overflow: ellipsis ' [..]';
	overflow: hidden;
}

.productCardCategory {
	font-size: 14px;
	font-weight: 700;
	color: grey;
	padding: 0;
}

.productCardCategoryStars {
	color: var(--main-color);
}

.productCardLocation {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
}

.productCardLocation img {
	height: 1.5rem;
	margin-right: 0.5rem;
}

.productCardLocation a {
	text-decoration: none;
	color: var(--main-color);
	margin-left: 0.5rem;
	font-size: 14px;
}

.productCardLocationText {
	font-size: 14px;
	font-weight: 700;
	color: var(--text-color);
}

/* ------------------------------- responsive ------------------------------- */

@media screen and (max-width: 769px) {
	.productCardLocation a {
		display: none;
	}
	.productCard {
		width: 43rem;
	}
}

@media screen and (max-width: 650px) {
	.productCardLocation {
		display: none;
	}

	.productCardCategoryStars {
		display: block;
	}
}

@media screen and (max-width: 480px) {
	.productCard {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
	}

	.productCardImg {
		max-width: 26rem;
	}
}
