.productPoliciesContainer {
	display: flex;
	flex-direction: column;
	padding: 1rem;
	width: 100%;
}

.productPolicies {
	font: var(--font-heading2);
	color: var(--text-color);
}

.policyContainer {
	display: flex;
	justify-content: space-between;
	gap: 1rem;
	box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.15);
	border-radius: 5px;
}
