.productDetailsContainer {
	background: blue;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	margin-top: 5rem;
	display: flex;
	height: 80vh;
	width: 100vw;
}
