:root {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	--main-color: #1dbeb4; /* 1 */
	--text-color: #383b58; /* 2 */
	--bg-color: #f3f1ed; /* 4 */
	--details-color: #545776; /* 3 */
	--white-color: #fff;
	--gray-color: #4f4f50;

	--font-heading1: bold 24px Roboto, sans-serif;
	--font-heading2: bold 20px Roboto, sans-serif;
	--font-heading3: bold 16px Roboto, sans-serif;
	--font-heading4: 700 14px Roboto, sans-serif;

	--font-botton1: bold 14px Roboto, sans-serif;
	--font-botton2: bold 16px Roboto, sans-serif;

	--font-text1: 500 14px Roboto, sans-serif;
	--font-text2: medium 12px Roboto, sans-serif;
}
a {
	all: unset;
	cursor: pointer;
}

html {
	box-sizing: border-box;
	overflow-x: hidden;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}
